/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor.pidb
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.pidb
/Library/
/Platformer-csharp.sln
/Platformer.sln
/Temp/